@import "../../styles/helpers/variables";

.card {
  background-color: $background-card;
  padding: 20px 15px;
  border-radius: 15px;
  color: $white;
  width: 100%;

  img {
    width: 200Px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
  }

  .name {
    margin-top: 10px;
  }
}