@import '../../styles/helpers/variables';

.navbar {
    background-color: $black;
    color: #fff;
    padding: 25px 75px 0px 25px;
    height: 100%;
    border-radius: 10px;
    margin-right: 20px;

    ul {
        margin-top: 30px;
    }
}