@import "../helpers/variables.scss";

html,
body,
#__next {
    height: 100%;
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 7.5px;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

main {
    color: white !important;
    padding: 25px;
    background: linear-gradient(to bottom, #505050, #000000 90%);
    overflow-y: auto;
}

.slick {
    &-track {
        margin-left: 0 !important;
        display: flex !important;
        gap: 10px;
    }

    &-next {
        right: 0 !important;
        z-index: 9;

        &::before {
            font-size: 30px !important;
        }
    }

    &-prev {
        left: 0 !important;
        z-index: 9;

        &::before {
            font-size: 30px !important;
        }
    }
}
