@import "../helpers/variables.scss";

html,
body,
#__next {
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 7.5px;
    height: 100%;
}

main {
    padding: 25px;
}

.slick {

    &-track {
        margin-left: 0 !important;
        display: flex !important;
        gap: 10px;
    }

    &-next {
        right: 0 !important;
        z-index: 9;

        &::before {
            font-size: 30px !important;
        }
    }

    &-prev {
        left: 0 !important;
        z-index: 9;

        &::before {
            font-size: 30px !important;
        }
    }
}